.a_img1{
    margin-bottom: -300px;
    position: relative;
    bottom: 350px;
    margin-left: 20%;

}
.a_img2{
    width: 100%;
    height: 350px;
}
/* fin de la premiere section */
.section2{
    height: 230px;
    margin-left: 8%;
    margin-right: 8%;
}
.a_bp{
    width: 16%;
    height:200px ;
    margin-left: 6%;
    display: inline-block;
}
.link{
    color: green;
}
.a_text_bout{
    color: gray;
    font-style: italic;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 20px; 
}

.a_div1{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-image: url(../images/dropcap1.gif) ; 
    color: white;
    font-weight: bolder;
    display: inline-block;
    float: left;
    text-align: center;
    margin-right: 5px;
    line-height: 55px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.h_r{
    text-decoration: underline;
}


.a_div{
    margin-top: 10px;
    font-size: 20px;
    margin-right: 1%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.a_wel{
    width: 75%;
    display: inline-block;
}
.a_dernieresection{
    margin-bottom: 50px;
    margin-left: 13%;
    margin-right: 18%;
}
.a_weltext{
    width: 55%;
    display: inline-block;
    margin-left: 10px;
    color: gray;
    font-style: italic;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
}


hr{
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    width: 90%;
    float:left;
}
h1{
    font-family:Arial, Helvetica, sans-serif ;
}
.a_testi{
    width: 25%;
    display: inline-block;
    float: right;
    margin-bottom: 20px;
}
.a_citation{
    background-color: #eeeeee;
    height: 155px;
    padding-left: 25px;
    clip-path: polygon(0% 0%,100% 0%,100% 75%, 38% 76%, 40% 96%, 16% 76%,0% 75%);
    color: gray;
    font-style: italic;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
}
.h_direct{
    width: 52%;
    display: inline-block;
}
.h_up{
    height: 32px;
    overflow: hidden;
    display: inline-block;
    width: 30%;
}


