body{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}
.c_sect1{
    margin-left: 15%;
    margin-top: 3%;
    

}
.c_div1{


}
.c_div1_div1{
    font-size: 260%;

}
.c_div1_div2{
    border:1px solid black;
    width:58%;
    opacity: 0.1;

}
/*fin de la div1*/
.c_div2{


}
.c_sect1_form1{
    line-height: 40%;
    margin-top: 0.5%;
    font-style: italic;
    opacity: 0.8;

}
.c_form1_lab1{
    opacity: 0.8;

}
.c_form1_inp1{
    width:25%;
    height: 3.5%;
    margin-left: 1.5%;
    opacity: 0.2;

}
.c_form1_lab2{
    opacity: 0.8;

}
.c_form1_inp2{
    width:25%;
    height: 3.5%;
    margin-left: 2.4%;
    opacity: 0.2;


}
.c_form1_lab3{
    opacity: 0.8;

}
.c_form1_inp3{
    width:25%;
    height: 3.5%;
    margin-left: 1.5%;
    opacity: 0.2;


}
.c_form1_lab4{
    opacity: 0.8;

}
.c_form1_text1{
    width:50%;
    height: 50%;
    opacity: 0.2;
    margin-left: 8%;
    margin-top: -2.7%;


}
.c_div3{

}
.c_but1{
    width: 5%;
    height: 5%;
    background-color:rgb(98 175 0);
    color: white;
    margin-left: 47.5%;
    border-style: none;
    font-weight: bold;

}.c_but2{
    width: 5%;
    height: 5%;
    background-color:rgb(98 175 0);
    color:white;
    border-style: none;
    font-weight: bold;
}

/*fin de la div2*/
/*fin de la premiere section*/
.c_sect2{
    margin-left: 68%;
    position: relative;
    top:-81.3%;

}
.c_div4{
    font-size: 260%;
    margin-bottom: 2%;
}
.c_div5{
    border:1px solid black;
    width:55%;
    opacity: 0.1;
}
.c_div6 p{
    font-style: italic;
    line-height: 35%;
    margin-top: 5%;
    opacity: 0.5;
}
.c_div6 p a{
    color: rgb(98 175 0);
}
.c_sect3{
    margin-left: 68%;
    position: relative;
    top:-75%;
    margin-bottom: -30%;

}
.c_div7{
    font-size: 260%;
    margin-bottom: 2%;

}
.c_div8{
    border:1px solid black;
    width: 55%;
    opacity: 0.1;
    
}
.c_div9{
    width: 40%;
    font-style: italic;
    opacity: 0.5;
    
}
