header{
    background-image: url(../images/bg.jpg);
    border: 2px solid black;
    height: 180px;
    font-family: Bahnschrift condensed;
}
.h_logo{
    margin-left: 14%;
    margin-top: 46px;
    width: 23%;
    height: 94px;
    margin-right: 8%;

}
.h_onglet_p{ 
font-size: 10px;
color:gray ;
position: relative;
top: -6;
}

.h_onglet_g {
font-weight: bold;
color: white;
font-size: 20px;
}
header div{
    display: inline-block;
    color: white;
    text-align: center;
    margin-left: 4%;
}
.nav1{
    color: green;
}
.pt_nav1{
    color: #bbbbbb;
}

span {
    text-align: center;
}
header div p a span:active{
    color: rgb(32, 131, 19);
}

/* FIN DU HEADER */
.h_fdiv1{
    background-image: url(../images/bg.jpg);
    height: 250px;
    padding-left: 5%;
    padding-top: 30px;
}
footer h2 {

}
.h_fdiv2{
    background-color: black;
    height: 90px;
    text-align: center;
    padding-top: 45px;
}

.li1{
    list-style-image: url(../images/marker_1.gif);
}
.li2{
    list-style-type: none;
}
h_fplist{
    margin-right: 4%;
}
 .h_divfoot{
    display: inline-block;
    color:rgb(88, 89, 84);
    line-height: 30px;
    margin-left: 4%;
     width: 18%; 
     font-size: 12px;
     font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
}
h2{
    color: rgb(147, 147, 147);
    text-align: left;
    position: relative;
    left: 25px;
    font-weight: 100;
}
hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid gray;
}

.champ{
    height: 30px;
    width: 100%;
}
.boutton{
    float: right;
    height: 30px;
    margin-top: 6px;
}
.h_black{
    text-align: center;
    /* margin-top: 25px; */
    margin-bottom: 25px;
    height: 50px;
    color: white;
}
.h_finfooter{
    color: gray;
} 

.h_lis1{
    list-style-image: url(../images/icon1.jpg);
}
.h_lis2{
    list-style-image: url(../images/icon2.jpg);
}
.h_lis3{
    list-style-image: url(../images/icon3.jpg);
}
.h_lis4{
    list-style-image: url(../images/icon4.jpg);
}

footer a:hover{
    color: white;
}

header div a p span:hover{
color: rgb(32, 131, 19);
}
.link{
    text-decoration: none;
    }

.a_nws{
    display: inline-block;
    color: gray;
    line-height: 30px;
    margin-left: 4%;
     width: 18%; 
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
    text-align: left; 
}
.a_nws2{
    margin-right: -100px;
}

header div p a{
    text-decoration: none;
}
header div p :active{
    color: green;
}
.active{
    color: chartreuse;
}
footer a:link{
    color: white;
}