.N_top-img{
    width: 100%;
}

.N_bouton{
    background-image: url(../images/dropcap1.gif);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: inline-block;
    margin-right: 0.91%;
    font-family: Arial, Helvetica, sans-serif;
}
.N_para{
   margin-left: 15.625%;
}
.N_titre{
    width: 60%;
    display: inline-block;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;


}

.N_number1{
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: -7px;
   
}

.N_number2{
    font-size: 10px;

}

.N_img28{
    display: inline-block;

}
.N_textimg{
    display: inline-block;
    width: 70%;
    margin: 0.8%;
    line-height: 22px;
    text-align: justify;
    color: gray;
    font-style: italic;
    font-family: sans-serif;
    font-size: 14px;
}
.N_textimg a{
    color: yellowgreen;
}
.N_para2{
    margin-left: 15.7%; 
    margin-bottom: 40px;
}

.N_carre{
    border: 1px gray solid;
    width: 30px;
    height: 30px;
   
    background-color: gray;
    margin-right: 0.001px;
    display: inline-block;
}
.N_carre2{
    border: 1px rgb(19, 231, 19, 0.863) solid;
    width: 30px;
    height: 30px;
    background-color: rgba(19, 231, 19, 0.863);
    margin-right: 0.001px;
    display: inline-block;
}

.N_number3{
   color: white;
   font-size: 25px;
   text-align: center;
   padding-left: 8px;
   
}
.N_bloc{
    height: 30px;
    margin-left: 36.5%;
}
.N_bloc div{
    display: inline-block;
}
 .N_t{
    border: 2px solid black;
}
 