/*debut barre verte*/
.p_section1 {
	height: 20px;
	background-image: url(../images/bg_top_img.jpg);
}
/*fin barre verte*/

/*debut de la grande section*/
.p_gbloc {
	text-align: center;
	padding-left: 70;
	/*border: 1px solid black;*/
}
/*debut bloc 1*/
.p_section2 {
	/*border: 1px solid green; */
	display: inline-block;
	/*width: 100%;*/
	/*padding-left: 200PX;*/
}
.p_section2 a {
	color: green;
	float: left;
}
section.p_section2,div.p_secto1 {
	display: inline-block;
	margin-right: 40px;
}
.p_secto1 {
	/*border: 1px solid blue;*/
	width: 270px;
	height: auto;
	text-align: justify;
	display: inline-block;
	/*float: left;*/

}
.p_rond {
	background-image: url(../images/dropcap1.gif);
	width: 56px;
	height: 56px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
}
.p_span1 {
	font-size: 40px;
	color: white;
	position: relative;
	top: 5px;

}
.p_name1 {
	display: inline-block;
	font-size: 25px;
}
.p_text {
	width: 270px;
	/*height: 80px;*/
	color: gray;
	line-height: 25px;
	font-style: italic;
	font-size: 16px;
	/*font-family: helvetica;*/
}
/*fin de bloc1*/

/*debut de bloc2*/
.p_section3 {
	/*border: 1px solid red;*/
	/*width: 100%;*/
	/*padding-left: 200PX;*/
	display: inline-block;
}
.p_section3 a {
	color: green;
	float: left;
}
section.p_section3,div.p_secto2 {
	display: inline-block;
	margin-right: 40PX;
}
.p_secto2 {
	/*border: 1px solid blue;*/
	width: 270px;
	height: auto;
	text-align: justify;
	display: inline-block;
}
/*fin de bloc2*/
/*fin de la grande section*/





