.barre_verte
	{
		width: 100%;
	}

.overview
	{
		margin-left: 16%;
		margin-top: 60px;
		color: black;
		font: 40px Arial Narrow;
		width: 70%; 
	}

section
	{
		margin-top: 25px;
	}

.left_top img
	{
		margin-left: 16%;
	}
.left_top h3
	{
		margin-left: 21%;
		margin-top: -100px;
		font-size: 25px;
		font-family: Arial Narrow;
		color: black;
		width: 16%;
		height: 100px;
	}

.left_top p
	{
		margin-left: 21%;
		margin-top: -85px;
		font-size: 14px;
		font-style: italic;
		font-family: trebuchet ms;
		color: grey;
		width: 16%;
		height: 100px;
	}

.left_bottom img
	{
		margin-left: 16%;
		margin-top: 30px;
	}

.left_bottom h3
	{
		margin-left: 21%;
		margin-top: -100px;
		font-size: 25px;
		font-family: Arial Narrow;
		color: black;
		width: 15,625%;
		height: 100px;
	}

.left_bottom p
	{
		margin-left: 21%;
		margin-top: -85px;
		font-size: 14px;
		font-style: italic;
		font-family: trebuchet ms;
		color: grey;
		width: 16%;
		height: 100px;
	}

.middle_top img
	{
		margin-right: 45%;
		float: right;
		margin-top: -350px;
	}

.middle_top h3
	{
		float: right;
		color: black;
		font-size: 25px;
		font-family: Arial Narrow;
		margin-right: 45%;
		margin-top: -352px;
	}

.middle_top p
	{
		float: right;
		color: grey;
		font-size: 14px;
		font-family: trebuchet ms;
		font-style: italic;
		margin-right: 45%;
		margin-top: -316px;
	}

.middle_bottom img
	{
		margin-right: 58%;
		float: right;
		margin-top: -150px;
	}

.middle_bottom h3
	{
		float: right;
		color: black;
		font-size: 25px;
		font-family: Arial Narrow;
		margin-right: 50%;
		margin-top: -162px;
	}

.middle_bottom p
	{
		float: right;
		color: grey;
		font-size: 14px;
		font-family: trebuchet ms;
		font-style: italic;
		margin-right: 45%;
		margin-top: -120px;
	}

.right_top img
	{
		margin-right: 35%;
		float: right;
		margin-top: -350px;
	}

.right_top h3
	{
		float: right;
		color: black;
		font-size: 25px;
		font-family: Arial Narrow;
		margin-right: 22%;
		margin-top: -352px;
	}

.right_top p
	{
		float: right;
		color: grey;
		font-size: 14px;
		font-style: italic;
		font-family: trebuchet ms;
		margin-right: 22%;
		margin-top: -316px;
	}

.right_bottom img
	{
		margin-right: 35%;
		float: right;
		margin-top: -150px;
	}

.right_bottom h3
	{
		float: right;
		color: black;
		font-size: 25px;
		font-family: Arial Narrow;
		margin-right: 20%;
		margin-top: -162px;
	}

.right_bottom p
	{
		float: right;
		color: grey;
		font-size: 14px;
		font-style: italic;
		font-family: trebuchet ms;
		margin-right: 21%;
		margin-top: -120px;
	}